/******************************************
  Some tips for creating layouts :
  - Add `l` prefix before the name of layouts
  - Or Just copy paste this structure of styling code into your new layouts styling file
  - Dont forget to register your layouts into `_layouts.scss`
******************************************/

/** This Place For Layouts Low Effort **/
.#{$namespace} {
  & .l-low-effort {
    & .section {
      &--hero {
        background: skyblue;

        & .hero {
          &__container {
            padding-top: 16px;
            padding-bottom: 16px;
            height: 300px;
            display: flex;
            align-items: center;

            & .title {
              display: block;
            }

            & .subtitle {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* ************************************ */
